@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    
    margin: 0px;
    max-width: 0 0 0 0;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.body{
    background-color: black;
}
:root{
    --c1: #2192FF;
    --c2:#CDFCF6;
    --c3: #153462;
}
header {
    display: flex;
}
header h1{
    color: #2a5de9;
    margin-right: auto;
    margin-top: 3%;
    margin-left: 10%;
    font-size: 34px;
    height: 93px;  
}

header .menu{
    background-color: rgb(193, 223, 249);
    position: relative;
    display: flex;
    margin-left: auto;
  }
     
.menu ul{
    position: relative;
    display: flex;
    margin-right: 90px;
}

.menu ul li{
    position: relative;
    list-style: none;
    
}
.menu ul li a{
    display: flex;
    margin-right: 20px;
}
.menu ul #menu-li {
    background-color: rgb(255, 255, 255);
}
.menu span{
    font-weight: 600;
    font-size: 30px;
    margin-top: 40px;
    margin-right: 19px;
    color: rgb(88, 88, 88);   
}
.menu ul li a:link{
    text-decoration: none;
}
.menu span:hover{
    background-color: #0F2BA4
;
    padding: 20px;
    color: white;
   
}

.Fight-Virus{
    display: flex;
}

.Fight-Virus #first-block{
    margin-left: 10%;
    margin-top: 7%;
    
}
.Fight-Virus #first-block h1{
    
    color: var(--c3);
    font-size: 78px;
    line-height: 120%;
}
.Fight-Virus #first-block p{
    color: dimgrey;
    font-weight:500;
    font-size: 23px;
    line-height: 180%;
    margin-top: 5%;

}
.Fight-Virus #first-block span{
    display: flex;
    margin-left: 3%;
    margin-top: 10%;
 
}
.Fight-Virus #first-block span h3{
 margin-right: 30px;
 font-weight: 500;
 color:#153462;
 margin-left: 20px;
}
#first-block span h2{
     color:#153462;
     font-weight: 600;
     margin-left: 30px;
     font-size: 28px;
}

#vs1{
    display: flex;
    height: 220px;
}
#schedule{
    display: flex;
    width: auto;
    height: 190px;
    position:absolute;
    background-color: rgb(224, 233, 240);
    margin: 30px;
    border-radius: 7px;
    box-shadow:0px 5px rgb(167, 209, 251);
}

#schedule #sc1{
    display: flex;
    margin-top: 55px;
    margin-left: 20px;
}

#sc1 img{
    margin-right: 10px;
}
#schedule #sc1 .sc2{
    margin-right: auto;
}
#schedule #sc1 h2{
    color: dimgrey;
    font-size: 27px;
    font-weight: 500;
    margin-left: 20px;    
}

#first-block #schedule h1{
    color: var(--c3);
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}
#schedule button{
    color: aliceblue;
    background-color: rgb(50, 44, 233);
    height: 80px;
    width: 200px;
    font-weight: 500;
    font-size: 25px;
    border-radius: 5%;
    margin-left: 30px;
    margin-right: 40px;
}
#first-block{
    margin-right: auto;
}

.empresas {
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
}
.empresas .emp img{
    height: 200px;
    justify-content: center;
    width: 400px;
    height: 300px;
}

.why-should{
    margin: 5%;
    margin-left: 11%;
    position: relative;
}
.why-should h1{
    color: var(--c3);
    font-size: 45px;
    
}
.why-should p{
    color: dimgray;
    font-size: 22px;
    font-weight: 500;
    width: 700px;
    line-height: 40px;
}
.why-should .w1{
    display: flex;
    margin-top: 8%;
    
}
.why-should .w1 h2{
    color: var(--c3);
    position: relative;
}
.why-should .w1 p{
    color: dimgrey;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    display: flex;
    width: auto;
    margin-top: 20px;
}
.why-should .w1 .w22{
    position: relative;
    width: 215px;
    margin: 20px;
    margin-right: 100px;
    
    
}
.why-should .w1 .w22 h2{
    display: flex;
    margin-top: 25px;
    font-weight: 500;
}
.w22 img{
    background-color: rgb(189, 205, 221);
    padding: 13px;
}


.preparations {
    display: flex;
    margin-right: 6%;
    margin-top: 6%;
}
.preparations h1{
    color: #153462;
    font-size: 45px;
}
.preparations p{
    color: dimgrey;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 5%;
}

#prep-before{
    margin-left: 6%;
}
#prep-before .p1{
    margin-left: 3%;
}
#prep-before .p1 p{
    color: dimgrey;
    font-size: 18px;
    margin-left: 12%;
}
.p1 h2{
    color: var(--c3);
    margin-top: 4%;
    font-weight: 500;
    font-size: 20px;
}
.s5{
    display: flex;
    margin-left: 3%;
}
.s5 img{
    height: 40px;
    width: 40px;
    margin-top: 4%;
    margin-right: 3%;
    
}
#prep-before .p1{
    margin-top: 30px;
}

.Emergency-contact {
    display: flex;
    margin: auto;
}

.emergency1 {
    margin-top: 11%;
    margin-left: 10%;
    position: relative;
    
}
.emergency1 #emr {
    display: flex; 
    margin-top: 20%;
    background-color: rgb(252, 255, 255);
    position: relative;
    flex-wrap: wrap;
    height: auto;
}
.emergency1 h1{
    color: var(--c3);
    font-size: 54px;
   
   
    
}
.emergency1 p{
    margin-top: 20px;
    color: dimgray;
    font-size: 23px;
    width: 84%;
    line-height: 40px;
    font-weight: 500;
}


.emergency1 #emr .ec1{
    
    position: relative;
    
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 10%;
    
}
.emergency1 .ec1 h2{
    color: var(--c3);
    font-size: 30px;
    margin-left: 30px;
    font-weight: 500;
}
.emergency1 .ec1 h3{
    color: var(--c3);
    font-weight: 350;
    font-size: 17px;
    
    margin-left: 50px;
}
    
.emergency1 .ec1 button{
    color: var(--c3);
    background-color: rgb(224, 233, 240);
    border: transparent;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 20%;
    padding: 10px;
    border-radius: 6px;
}
.ec1 button:hover{
    background-color: #124693;
    color: white;
}
.ec1-1 {
    display: flex;
}

#emergency-img{
    margin-top: 20%;
    margin-left: auto;
}
.footer1 {
    background-color: rgb(224, 233, 240);
    display: flex;
    margin-top: 6%;
}
.vacci {
   margin-top: 5%;
    margin-left: 30px;
    
}
.vacci h2 {
    color: #0F2BA4;
    margin-left: 20%;
    font-size: 36px;
    
}
.vacci p{
    color: dimgrey;
    margin-left: 20%;
    font-size: 20px;
    width: 40%;
    font-weight: 500;
}
.f1l{
    display: flexbox;
    position: relative;
    margin-right: 50px;
}
.f1l h3{
    color: var(--c3);
    font-size: 30px;
}
.f1l h4{
    color: dimgrey;
    font-size: 20px;
    font-weight: 500;
    margin-top: 16px;
}
#fff {
    margin: 5%;
    display: flex;
    margin-left: auto;
}

.footer-fin{
    display: flex;
    height: 70px;
    position: relative;
    color: dimgrey;
    background-color: rgb(224, 233, 240);
}
.footer-fin #ff1{
    margin-right: auto;
    margin-left: 110px;

}
.footer-fin #ff2{
    margin-right: 30px;
}
.footer-fin #ff3{
    margin-right: 120px;
}
.footer-fin #ff1 #ff2 #ff3, h3{
    font-size: 19px;
    font-weight: 500; 
}